<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Visualisierung von Grabungsdaten</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container p-3 my-3 border">
            <h1>3D-Visualisierung paläolithischer Grabungsdaten</h1>
            <div class="alert alert-danger">
                <strong>Achtung!</strong> Es konnte keine Verbindung zur Datenbank hergestellt werden. Bitte prüfen Sie die Eingaben.
            </div>
            <!-- Same form as in index.html -->
            <div class="container p-3">
                <form id="startup" action="#" th:action="@{/startup}" th:object="${sessiondata}" method="post" class="needs-validation">
                    <div class="form-group">
                        <label for="database">Datenbank</label>
                        <input  class="form-control" required type="text" id="database" name="database" placeholder="Pfad zur Datenbank einfügen" th:field="*{database}">
                        <p class="small my-2">Der Pfad zur Datenbank kann durch <kbd>Shift + Rechtsklick</kbd> auf die Access-Datei und die Auswahl von „Als Pfad kopieren“ im Kontextmenü erhalten werden.</p>
                    </div>
                    <div class="form-group">
                        <label for="table">Tabelle</label>
                        <input  class="form-control" required type="text" id="table" name="table" placeholder="Name der Tabelle eingeben" th:field="*{table}">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="digsite">Kurzbezeichnung der Grabung</label>
                                <input  class="form-control" required type="text" id="digsite" name="digsite" placeholder="Kürzel für Fundnummer eingeben" th:field="*{digsite}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="year">Jahr der Grabung</label>
                                <input  class="form-control" required type="text" id="year" name="year" placeholder="Jahr der Grabung eingeben" th:field="*{year}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="lead"><span class="badge badge-secondary">Optional</span> Beschränken der Anzeige auf einen Bereich (kann später in der Visualisierung geändert werden)</p>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label for="xLow">X von</label>
                                <input  class="form-control" type="text" id="xLow" name="xLow" placeholder="" th:field="*{xLow}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="xHigh">X bis</label>
                                <input  class="form-control" type="text" id="xHigh" name="xHigh" placeholder="" th:field="*{xHigh}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="yLow">Y von</label>
                                <input  class="form-control" type="text" id="yLow" name="yLow" placeholder="" th:field="*{yLow}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="yHigh">Y bis</label>
                                <input  class="form-control" type="text" id="yHigh" name="yHigh" placeholder="" th:field="*{yHigh}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="zLow">Z von</label>
                                <input  class="form-control" type="text" id="zLow" name="zLow" placeholder="" th:field="*{zLow}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="zHigh">Z bis</label>
                                <input  class="form-control" type="text" id="zHigh" name="zHigh" placeholder="" th:field="*{zHigh}">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Visualisierung starten</button>
                </form>
            </div>
        </div>        
    </body>
</html> 