<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Visualisierung von Grabungsdaten</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container p-3 my-3 border">
            <h1>3D-Visualisierung paläolithischer Grabungsdaten</h1>
            <div class="container p-3">
                <p>Die Visualisierung läuft mit folgenden Daten:</p>
                <div class="row">
                    <div class="col-sm-3"><p><span class="font-weight-bold" th:text="'Datenbank: '"></span></p></div>
                    <div class="col"><p><span th:text="${sessiondata.database}"></span></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><p><span class="font-weight-bold" th:text="'Tabelle: '"></span></p></div>
                    <div class="col"><p><span th:text="${sessiondata.table}"></span></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><p><span class="font-weight-bold" th:text="'Grabung (Kurzbezeichnung): '"></span></p></div>
                    <div class="col"><p><span th:text="${sessiondata.digsite}"></span></p></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><p><span class="font-weight-bold" th:text="'Jahr: '"></span></p></div>
                    <div class="col"><p><span th:text="${sessiondata.year}"></span></p></div>
                </div>
            </div>
            <div class="alert alert-info">
                Zum Beenden des Programms in der Visualisierung den Button <span class="badge badge-secondary">Beenden</span> verwenden. Dieser beendet sowohl die Visualisierung, als auch den Server.
            </div>
        <p id="alert"></p>
        </div>        
    </body>
</html> 